:root {
    --length-unit: 8px
}

a.is-clear {
    text-decoration: inherit;
    color: inherit
}

.has-text-weight-medium {
    font-weight: 600;
}


main.main-part {
    flex-grow: 1;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
}

main.main-part.has-backpath {
    margin-left: 8px;
    margin-right: 8px;
}


.link-button-active {
    background-color: rgba(255, 255, 255, 0.3);
}

.border_unless {
    border-radius: 0;
}

.has-flex-grow-1 {
    flex-grow: 1
}

.nav-title {
    text-transform: initial;
    background-color: inherit;
}

.nav-title.is-active {
    background-color: rgb(255, 255, 255, 0.3);
}